@import "node_modules/ol/ol.css";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(48 48 48);
    color: rgb(255 255 255);
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#panorama {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    /*width: 100vw;*/

    filter: invert(1);
}

#map {
    position: absolute;
    z-index: 1;

    height: 30%;
    width: 30%;
    bottom: 0;
    right: 0;

    cursor: pointer;

    opacity: 0.6;

    border-radius: 10px;
}

#map:hover,
#map.maximized {
    height: 80%;
    width: 100%;
    bottom: 0;
    right: 0;

    opacity: 1;

    transition: height 0.3s ease-out, width 0.3s ease-out, opacity 0.3s ease-out;
}

button {
    border: none;
    border-radius: 10px;
    background: hsl(89, 58%, 35%);;
    color: rgb(255 255 255); 
}

button:disabled {
    background: rgb(84 84 84);
}

.control-bar {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;

    padding: 10px;

    z-index: 1;
}

.control-bar button {
    padding: 15px 15px;
    margin: 5px;
    font-size: 1.5rem;
    opacity: 0.8;
}

.control-bar button:hover:not([disabled]) {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

button#next-round {
    background: hsl(200, 58%, 35%);
}

button#toggle-map {
    background: hsl(45, 58%, 35%);
}

button#next-round:disabled {
    background: rgb(84 84 84);
}

img[alt="Google"] {
    display: none;
}

[style*="position: absolute;"][style*="pointer-events: none;"][style*="transform: translate(-50%, -50%);"][style*="z-index: 1000;"][style*="top: 50%;"][style*="color: white;"][style*="font-size: 20px;"][style*="left: 50%;"][style*="background-color: rgba(0, 0, 0, 0.3);"][style*="padding: 5px;"][style*="border-radius: 3px;"][style*="text-align: center;"] {
    display: none !important;
}

div[style*="background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;"] {
    display: none;
}
