@import "node_modules/ol/ol.css";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(48 48 48);
    color: rgb(255 255 255);
    font-family: sans-serif;
}

.hidden {
    display: none;
}

button {
    border: none;
    border-radius: 10px;
    background: hsl(89, 58%, 35%);;
    color: rgb(255 255 255); 
}

#panorama {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    /*width: 100vw;*/

    filter: invert(1);
}

#map {
    position: fixed;
    z-index: 1;

    height: 30%;
    width: 30%;
    bottom: 0;
    right: 0;

    cursor: zoom-in;

    opacity: 0.6;
    border: 6px solid hsl(56, 58%, 60%);

    transition: all 0.2s ease-out, opacity 0.2s ease-out;
}

#map.maximize-pin, #map:hover {
    height: 75%;
    width: 75%;
    bottom: 0;
    right: 0;

    cursor: crosshair;

    opacity: 1;
}

.control-bar {
    position: fixed;
    left: 50%;
    right: 50%; 
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    z-index: 2;
}

.control-bar button {
    padding: 15px 15px;
    margin: 5px;
    white-space: nowrap;
    font-size: 1.5rem;

    opacity: 0.8;
}

button#next-round {
    background: hsl(200, 58%, 35%);
}

button#toggle-map {
    background: hsl(45, 58%, 35%);
}

img[alt="Google"] {
    display: none;
}

[style*="position: absolute;"][style*="pointer-events: none;"][style*="transform: translate(-50%, -50%);"][style*="z-index: 1000;"][style*="top: 50%;"][style*="color: white;"][style*="font-size: 20px;"][style*="left: 50%;"][style*="background-color: rgba(0, 0, 0, 0.3);"][style*="padding: 5px;"][style*="border-radius: 3px;"][style*="text-align: center;"] {
    display: none !important;
}

div[style*="background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;"] {
    display: none;
}
