* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #303030;
    color: #ffffff;
    font-family: sans-serif;
}

#panorama {
    height: 500px;
    width: 1000px;
    filter: invert(1);
    padding: 100px;
}

#map {
    position: absolute;
    z-index: 1;

    height: 30%;
    width: 30%;
    bottom: 0;
    right: 0;

    cursor: pointer;

    opacity: 0.6;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#map:hover {
    height: 75%;
    width: 75%;
    bottom: 0;
    right: 0;

    opacity: 1;

    transform: scale(1.5);

    /*transition: height 0.3s ease-out, width 0.3s ease-out, opacity 0.3s ease-out;*/
}

img[alt="Google"] {
    display: none;
}

[style*="position: absolute;"][style*="pointer-events: none;"][style*="transform: translate(-50%, -50%);"][style*="z-index: 1000;"][style*="top: 50%;"][style*="color: white;"][style*="font-size: 20px;"][style*="left: 50%;"][style*="background-color: rgba(0, 0, 0, 0.3);"][style*="padding: 5px;"][style*="border-radius: 3px;"][style*="text-align: center;"] {
    display: none !important;
}

div[style*="background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;"] {
    display: none;
}
